#admin {
    height: 900px;
    background-color: #020C16;
}

.admin-heading {
    font-size: 26px !important;
}

.total-minted-value {
    font-family: 12px !important;
    font-weight: 100 !important;
}

.data-heading {
    font-size: 17px;
    font-weight: 600;
}

.refresh-icon:hover {
    cursor: pointer;
}

.static-data {
    margin-bottom: 5px !important;
}

.btns {
    border: 0;
    background-color: #355651;
    color: white;
    width: 180px;
}

.refresh-btn {
    font-size: 17px;
    font-weight: 700;
    background-color: chocolate;
    width: 180px;
    color: black;
}

.input-bg {
    background-color: #020C16;
    color: white;
}

input::placeholder { 
    font-size: 13px;
}

.input-bg:focus {
    background-color: #020C16;
    color: white;
}

.mint-user {
    text-align: center;
    align-items: center;
    margin-bottom: 0px !important;
    padding-top: 7px;
    /* color: #3E4446; */
    border: 2px dashed #3E4446;
}

.select-bg {
    background-color:#020C16 ;
    color: white;
}

.withdraw-btn {
    background-color: white;
    color: black;
    width: 180px;
    font-size: 17px;
    font-weight: 700;
}

.admin-mint-opt {
    width: 300px;
    padding: 30px;
    border: 2px dashed #3E4446;
    border-radius: 5px;
}

.operator {
    width: 50px;
}

.admin-mint-btn {
    width: 100px;
}

.account-heading-text {
    color: #355651;
}

.admin-mint-hr {
    color: #FFFFFF;
    width: 90%;
    border: 1px solid #FFFFFF;
}

.admin-mint-info {
    font-size: 12px;
}

.admin-mint-heading {
    font-size: 22px;
}

@media (max-width: 767px) {
    .right-sec {
        margin-left: 10px;
    }

    #admin {
        height: 1300px;
    }

    .admin-mint-hr {
        width: 90%;
    }
}


