#about {
    height: auto;
    background-color: #050713;
    padding-bottom: 50px;
    background-image: url('../../assets/about-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 3vw));
    margin-bottom: -3vw;
}

.about-text{
    max-width: 500px;
    font-size: 14px;
    text-align: left;
}

.what-text{
    position: absolute;
    color: white;
    top: 715px;
    left: 550px;
    font-size: 22px;
    font-weight: bold;
}

.karma-text {
    color: #355651;
}

.bear {
    position: absolute;
    /* bottom: ; */
    right: 50px;
}

.world-img {
    width: 500px;
    height: 430px;
}

@media (max-width: 440px) {
    .world-img {
        width: 300px;
        height: 270px;
    }
    .about-text{
        font-size: 18px;
        text-align: center;
    }
    .bear {
        display: none;
    }
    .about-text{
        max-width: 500px;
        font-size: 14px;
        text-align: left;
    }
}

