#home{
    background-image: url('../../assets/home.png');
    background-size:100%;
    background-color: black;
    background-repeat: no-repeat;
    padding-bottom: 150px;
}

.opensea {
    background-color: #434343 !important;
    border: 0;
}

.subheading {
    font-size: 14px
}

.mint {
    background-color: #004040 !important;
    border: 0;
}

.logo-img-home {
    position: absolute;
    margin-top: -7% ;
    margin-bottom: 6px;
    margin-left: 38%;
    width: 23%;
    height: 40%;
}

.home-info-sec {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 30%;
}

@media (max-width:800px) {
    .home-info-sec {
        padding-top: 25%
    }
    .welcome-text {
        font-size: 22px;
    }
    #home{
        background-image: url('../../assets/home.png');
        background-size:100%;
        background-color: black;
        background-repeat: no-repeat;
        padding-bottom: 50px;
    }
}

@media (max-width:440px) {

    .logo-img-home {
        position: absolute;
        margin-top: -15% ;
        margin-left: 38%;
        width: 17%;
        height: 20%;
    }

    #home{
        background-image: url('../../assets/home.png');
        background-size:100%;
        background-color: black;
        background-repeat: no-repeat;
        padding-bottom: 150px;
    }
    .home-info-sec {
        padding-top: 15%
    }
    .welcome-text {
        font-size: 15px;
    }
    .subheading {
        font-size: 13px
    }
    #home{
        padding-bottom: 25px;
    }
    .opensea , .mint {
       font-size: 13px;
    }
}
