#faq {
    background-color: #020C16;
    /* height: 1400px; */
    padding-top: 70px;
    padding-bottom: 70px;
}

.faq-text {
    position: absolute;
    color: white;
    margin-top: 70px;
    font-size: 26px;
    font-weight: bold;
}

.faq-sec {
    padding: 0px 150px 150px 150px;
}

.subtext {
    margin: auto;
    text-align: center;
    color: #848484;
}

@media (min-width:551px) and (max-width: 640px) {
    .faq-sec {
        padding: 0px 40px 40px 40px;
    }
    #faq {
        margin-top: -20vw;
    }
}

@media (max-width: 550px) { 

    .faq-sec {
        padding: 0px 40px 40px 40px;
    }
    #faq {
        /* margin-bottom: -20vw; */
    }
}