#faq {
    background-color: #020C16;
    height: 950px;
    padding-top: 70px;
    margin-bottom: -10vh;
    /* margin-bottom: -5vw; */
    /* margin-top: 30px; */
}

.faq-text {
    position: absolute;
    color: white;
    /* margin-left: 50px; */
    margin-top: 70px;
    font-size: 26px;
    font-weight: bold;
}

.faq-sec {
    padding: 0px 150px 150px 150px;
}

.subtext {
    /* width: 500px; */
    margin: auto;
    text-align: center;
    color: #848484;
}

@media (max-width: 640px) {
    .faq-sec {
        padding: 0px 40px 40px 40px;
    }
}