.question-heading {
    /* background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='black' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='13' stroke-linecap='round'/%3e%3c/svg%3e"); */
    background-color: #020C16 !important;
    color: #3E4446 !important;
    border: 2px dashed #3E4446;
    /* border-radius: 5px !important; */
}
.question-body {
    /* background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='black' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='13' stroke-linecap='round'/%3e%3c/svg%3e"); */
    background-color: #020C16 !important;
    color: #3E4446 !important;
    border: 2px dashed #3E4446;
    /* border-radius: 5px !important; */
}

