.question-heading {
    background-color: #020C16 !important;
    color: #3E4446;
    border: 2px dashed #3E4446;
}
.question-body {
    background-color: #020C16 !important;
    color: #3E4446;
    border: 2px dashed #3E4446;
}

