#roadmap {
    background-color: #020C16;
    padding-bottom: 40px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 3vw));
    margin-bottom: -3vw;
}

.mobile-timeline {
    width: 100%;
}

