#footer {
    /* margin-top: 20px; */
    background-color: #050713;
    padding-top: 30px;
    clip-path: polygon(0 7%, 100% 0  , 100% 100%, 0 100%);
    margin-top: -10vw;
}

.footer-heading {
    font-size: 20px;
    color: #355651;
}

.grey-clr {
    color: #808080;
}

.icon {
    background-color: #6CD1C1;
    fill: #6CD1C1;
}

.quick-links li{
    margin-left: 30px;
}

.newsletter-text {
    font-size: 13px;
}

.form-sec{
    margin-top: 30px;
}

.form-input {
    background-color:#050713 ;
    border: 1px solid white;
    /* position: absolute; */
    color: white;
}

.form-input:focus{
    background-color:#050713 ;
    color: white;
}

.arrow-icon {
    position: absolute;
    right: -30px;
}

.start-sec {
    margin-top: 10px;
}

.logo-sec-text {
    max-width: 350px;
}

.footer-hr{
    color: #FFFFFF;
    margin: auto;
    border: 1px solid #FFFFFF;
}

.footer-base {
    font-size: 14px;
}

@media (max-width: 550px) { 
    .arrow-icon {
        right: -11px;
    }
    #footer {
        /* margin-top: 20px; */
        margin-top: -18vw;
    }
}