#footer {
    background-color: #050713;
    padding-top: 30px;
    clip-path: polygon(0 7%, 100% 0  , 100% 100%, 0 100%);
    /* clip-path: polygon(0 0, 100%  0, 100% 100%, 0 calc(100%-3vw)) */
    margin-top: -20vw;
}

.footer-heading {
    font-size: 20px;
    color: #355651;
}

.quick-links li{
    padding-bottom: 20px;
}

.newsletter-text {
    font-size: 13px;
}

.form-sec{
    margin-top: 30px;
}

.form-input {
    background-color:#050713 ;
    border: 1px solid white;
    /* position: absolute; */
    color: white;
}

.form-input:focus{
    background-color:#050713 ;
    color: white;
}

.arrow-icon {
    position: absolute;
    right: -30px;
}

.start-sec {
    margin-top: 10px;
}

.logo-sec-text {
    max-width: 350px;
}

hr{
    color: #FFFFFF;
    margin: auto;
    width: 50%;
    border: 1px solid #FFFFFF;
}

@media (max-width: 550px) { 
    .arrow-icon {
        right: -11px;
    }
}