#team{
    background-image: url('../../assets/BG.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-color: #050713;
    padding-top: 40px;
    padding-bottom: 20px;
}

.mem-container {
    display: flex;
    justify-content: space-around;
}

.member {
    width: 200px;
}

.name-text {
    font-size: 15px;
}

.diagonal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.member-image {
    width: 87%;   
    height: 11  0%;
}

.member-details-sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-108px);
    background-color: #050713 !important;
    opacity: 0.8;
}

.info-sec {
    width: 100%;
    position: absolute;  
    bottom: 1px;
    background-color: #050713;
    opacity: 0.8;
}


.text-l {
    transform: skewX(4deg);
    color:white
}

.our-team-text {
    position: absolute;
    color: white;
    margin-top: 60px;
    font-size: 32px;
    /* margin-left: 350px; */
    font-weight: bold;
}

.social-icons {
    padding: 3px;
}

@media (max-width: 767px) {
    .member {
        margin-top: 20px;

    }

    .mem-container {
        align-items: center;
        flex-direction: column;
    }

    #our-team{
        background-color: #050713;
        padding-top: 40px;
        height: 2200px;
    }

    #team {
        height: 2600px;     
    }

    .box-shadow-container-3 {
        filter: drop-shadow(0px 8px 16px rgba(91,181,201,0.51));
        transform: translateY(6px);
    }

}


@media (min-width: 1200px){

}